.signin-modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgba(214, 214, 214, 0.268);
  z-index: 1;
  border: none;
}

.signin-form {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 25%;
  border-radius: 18px;
  background-color: white;
}

.signin-form-title {
  background-color: white;
  color: black;
  align-self: center;
  padding-top: 50px;
  font-weight:500;
}

.signin-data-inputs {
  width: 100%;
  height: 35%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px orange solid; */
}

.signin-email-input {
  height: 50%;
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px green solid; */
}

.signin-password-input {
  height: 50%;
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px green solid; */
}

.signin-labels {
  height: 25%;
  width: 100%;
  color: black;
  background-color: white;
  font-weight: 200;
  font-size: small;
  /* border: 2px blue solid; */
}

.signin-input-boxes {
  height: 35%;
  color: black;
  background-color: white;
  border-radius: 8px;
  padding-left: 10px;
  font-size: medium;
  /* border: 2px purple solid; */
}

.create-account-link-container {
  color: black;
  background-color: white;
  width: 80%;
  height: 5%;
  display: flex;
  align-self: center;
  margin-bottom: 20px;
  /* border: 2px green solid; */
}

.create-account-btn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: rgb(10, 0, 204);
  background-color: white;
  font-size:smaller;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.signin-submit-btn {
  font-size: medium;
  height: 8%;
  width: 50%;
  align-self: center;
  color: white;
  border-radius: 8px;
  margin-top: 8px;
  font-weight:500;
  border: none;
}

.signin-submit-btn:hover {
  background-color: rgba(85, 85, 85, 0.414);
  border: 1px solid white;
}
