.dashboard-table {
  background-color: white;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px orange solid; */
}

.dashboard-small-table {
  height: 90%;
  width: 90%;
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
}

.table-header {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: [first header-start] 100px [header-end content-start] 1fr [lastline];
  /* border: 1px solid orange; */
}

.table-header > li:nth-child(-n+7) {
  border-bottom: 1px solid black;
}

.table-header-column-names {
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
