.dashboard-inner-container {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.135);
  /* border: 1px solid green; */
}
