.month-filter-container {
  background-color: white;
  border: 2px magenta solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 10%;
  width: 100%;
}

.month-select-label {
  background-color: white;
}

.month-select-options {
  background-color: white;
}
