.month-filter-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  /* border: 2px magenta solid; */
}

.month-select-label {
  background-color: white;
  font-size: medium;
  margin-bottom: 10px;
  width: 75%;
}

.month-select-options {
  background-color: white;
  height: 25%;
  width: 75%;
  font-size: small;
}
