.footer {
  position: absolute;
  bottom: 0;
  height: 5vh;
  width: 100%;
  background-color: black;
  color: white;
  /* border: 1px purple solid; */
}

.footerList {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px rgb(4, 243, 4) solid; */
}

.footer-year {
  height: 100%;
  width:8%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  /* border: 2px yellow solid; */
}

.link {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px yellow solid; */
}

.githubLogo {
  height: 100%;
  width: 18%;
  background-color: white;
}
